
#nav {
	margin-left:1vw;
	height: 1em;
}

#sorry {
}

#works{
    position: relative; 
	margin-left:1vw;
}

#mapid {
    width: 1400px; 
    height: 800px; 
    position: relative; 
}

#topInfo {
	background: white;
	position: fixed;
	top: 1em;
	left: 6vw;
	display: block;
	font-size:1em;
	line-height:.2em;
	z-index:10001;
}
#sel {
	background: white;
	position: fixed;
	top: 3.5em;
	left: 6vw;
	display: block;
	font-size:1em;
	z-index:10000;
}

#loading {
	position: fixed;
	top: 10%;
	left: 10vw;
	display: block;
	font-size:3em;
	z-index:10000;
}

#chart {
	position: fixed!important;
    background:white;
	top: 30%;
	left: 1vw;
    width:20%;
	display: block;
	font-size:1em;
	z-index:10000;
    display:none;
}
.c3-grid line {
  stroke: none;
}

.c3-axis-x > path.domain, .tick > line[x2="-6"] {
  visibility: hidden;
}


/* popup info */
.info {
		/* this is inside the popup-content-wrapper **
		** so styling is limited */
}
/* district info
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup

inside:
.leaflet-popup-content-wrapper, .leaflet-popup-tip

difficult to move due to transform3d statement required to have it placed next to the item ...
if unset, we can put windows at fixed  position
*/

.fading {
	opacity: 1;
	-webkit-animation: fadeinout; /* 2s linear infinite; */
	animation: fadeinout 2s linear infinite;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
	0%,100% { opacity: 0 }
	50% { opacity: 1 }
}

